@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap);
*{
    background:rgb(228, 240, 247);
    font-family:Poppins,sans-serif;
}
a{
    text-decoration:none;
    color:black;
}
#navbar{
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
    border:none;
    border-bottom:1px solid black;

}
#navbar ul{
    list-style-type:none;
}
#navbar ul li{
    display:inline-block;
}
#navbar ul li a{
    color:black;
    font-size:1.5vw;
    font-weight:bold;
    padding:20px 20px 0 20px;
}
#navbar #heading img{
    width:50%;
    height:auto;
}
#navbar #heading{
    display:flex;
    flex-flow: row nowrap;
    justify-content:center;
}
#content
{
    width:100%;
    height:auto;
    display:flex;
    flex-grow:row wrap;
    justify-content:space-between;
}
#content1
{
    width: 90%;
    max-width:100%;
    height:auto;
    padding:30px;
}
#content1 button{
      display:block;
      margin:auto;
      border:2px solid blue;
      width:60%;
      height:auto;
      padding:15px;
      text-align:center;
      background-color:blue;
      font-weight:bold;
      font-size:20px;
      color:white;
      transition:background-color 0.5s,color 0.5s,box-shadow 0.5s;
}
#content1 button:hover{
        color:blue;
        background-color:transparent;
        box-shadow:3px 3px 8px black;
}
#content2
{
    width:auto;
    max-width:auto;
    height:90%;
    border:none;
    border-left:1px solid black;
    box-sizing:border-box;
    text-align:center;

}
#icons{
    display:flex;
    flex-flow: row wrap;
    justify-content:center;

}
#icons a img{
        width:40px;
        height:40px;    
        padding:5px;
        transition: width 0.2s,height 0.2s;
}
#icons a img:hover{
    width:45px;
    height:45px;    
}
#footer p,h1{
    font-size:20px;
    font-family:Poppins,sans-serif;
    text-align:center;
}
#footer>h1 a{
     color:black;
     transition:border 0.1s;
}
#footer>h1 a:hover{
    border:none;
    border-bottom:2px solid black;
}
@media only screen and (max-width:900px)
{
    #navbar{
        flex-flow:column wrap;
        align-items:center;
        
    }
    #navbar span:nth-child(2){
        display:block;
        text-align:center;
    }
    #navbar ul li{
        padding:30px 10px;
    }
    #navbar #heading img{
        width:auto;
    }
    #navbar #heading{
        display:block;
        margin:auto;
    }
    
}